Client/BBClient/Service References/BetServiceRef/BetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BBServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BBServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Bets" nillable="true" type="tns:ArrayOfBet" />
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bet" nillable="true" type="tns:Bet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBet" nillable="true" type="tns:ArrayOfBet" />
  <xs:complexType name="Bet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Account_Code" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Win_Amount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bet" nillable="true" type="tns:Bet" />
  <xs:simpleType name="BetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Simple" />
      <xs:enumeration value="System" />
      <xs:enumeration value="Express" />
      <xs:enumeration value="SuperExpress" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BetType" nillable="true" type="tns:BetType" />
  <xs:simpleType name="GameResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Win" />
      <xs:enumeration value="Spare" />
      <xs:enumeration value="Lose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameResult" nillable="true" type="tns:GameResult" />
</xs:schema>