Client/BBClient/Service References/BetServiceRef/BetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3651/Server/BetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BBServer" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="GetAccountResult" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="GetEventsResult" nillable="true" type="q2:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accCode" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:decimal" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="type" type="q3:BetType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="results" nillable="true" type="q4:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="GetBetResult" nillable="true" type="q5:Bet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="GetBetsResult" nillable="true" type="q6:ArrayOfBet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="factor" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountWithdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountCode" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountWithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountWithdrawResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountRefill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountCode" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountRefillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountRefillResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BBServer" minOccurs="0" name="CreateAccountResult" nillable="true" type="q7:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>